<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248835344678-8mv11pb26ojp6m4p858hdup54ubihdcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248835344678-8mv11pb26ojp6m4p858hdup54ubihdcm</string>
	<key>API_KEY</key>
	<string>AIzaSyDrRNwaI-dx1Pc9nKuoZsq9FxOqjg8Rwmg</string>
	<key>GCM_SENDER_ID</key>
	<string>248835344678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locateItUser1</string>
	<key>PROJECT_ID</key>
	<string>locate-it-e063c</string>
	<key>STORAGE_BUCKET</key>
	<string>locate-it-e063c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248835344678:ios:d0e1b7622815ca48ce19e7</string>
	<key>DATABASE_URL</key>
	<string>https://locate-it-e063c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>